.ordered-list {
    background-color: yellow;
}
ol :nth-child(even) {
    color: green;
}
ol :nth-child(odd) {
    text-transform: uppercase;
}
.header {
    color: red;
}
.header em {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bolder;
}
#java {
    background-color: pink;
}

.ulist :nth-child(-n+3) {
    color:blue
}
#stack:hover{
    color: orange;
    font-weight: bolder;
}
#w3:hover{
    color: green;
    font-weight: bolder;
}
#mozilla:hover{
    color: black;
    font-weight: bolder;
}
#Dev:hover{
    color: yellow;
    font-weight: bolder;
}
#Trybe:hover{
    color: green;
    font-weight: bolder;
}
